@use "../../styles/mixins" as *;

.view {
  list-style: none;
  margin-bottom: 16px;
  width: 47.8%;
  min-width: 136.5px;
  cursor: pointer;

  @include media-tablet {
    margin-bottom: 24px;
    width: 30.5%;
  }

  @include media-desktop {
    margin-bottom: 32px;
    width: 22.5%;
    max-width: 280px;
  }

  &__view {
    position: relative;
    margin-bottom: 8px;
  }

  &__thumbnail {
    width: 100%;
    border-radius: 8px;
  }

  &__play-modal {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    &:hover {
      opacity: 1;
    }
  }
}
