@use "../../styles/mixins" as *;

.view-list {
  &__heading {
    @include headingM;
    margin-top: 24px;
    margin-bottom: 16px;

    @include media-tablet {
      @include headingL;
      margin-bottom: 24px;
    }

    @include media-desktop {
      margin-bottom: 32px;
    }
  }

  &__views {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4.37%;

    @include media-tablet {
      column-gap: 4.16%;
    }

    @include media-desktop {
      column-gap: 3.22%;

      @media (min-width: 1440px) {
        column-gap: 32px;
      }
    }
  }
}
