@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.trending-view {
  position: relative;
  list-style: none;
  margin-right: 16px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &__thumbnail {
    border-radius: 8px;
    width: 240px;

    @include media-tablet {
      width: 470px;
      height: 230px;
    }
  }

  &__bookmark-container {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-blue-translucent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__details {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 16px;

    @include media-tablet {
      padding: 24px;
    }
  }

  &__play-modal {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    &:hover {
      opacity: 1;
    }
  }
}
