@use "../../styles/mixins" as *;

.recommended {
  &__heading {
    @include headingM;
    margin-bottom: 16px;
  }

  &__views {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
