@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.play-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  border-radius: 8px;

  &__button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $pure-white;
    background-color: rgba(255, 255, 255, 0.2);
    width: 117px;
    height: 48px;
    border: none;
    border-radius: 28.5px;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    top: 9px;
    left: 9px;
  }

  &__text {
    @include headingXS;
    position: absolute;
    top: 14px;
    left: 58px;
  }
}
